img.userpictures_avatar {
  box-shadow: 2px 2px 4px #444;
}

img.userpictures_avatar.timeline {
  margin-top: 0.2em;
  margin-right: 1em;
  margin-left: -5.8em;
  vertical-align: text-top;
}

img.userpictures_avatar.ticket-reporter {
  float: left;
  margin: 0 10px 10px 0px;
}

img.userpictures_avatar.ticket-comment {
  margin: 0 5px 5px 0;
}

img.userpictures_avatar.ticket-owner {
  margin-top: 0.2em;
  margin-right: 1em;
  vertical-align: middle;
}

img.userpictures_avatar.browser-lineitem {
  margin: 0 5px 0 0;
}

img.userpictures_avatar.browser-changeset,
img.userpictures_avatar.ticket-comment-diff {
  margin: 3px 10px 5px 0px;
  vertical-align: middle;
}

img.userpictures_avatar.browser-filesource {
  margin: 3px 10px 0px 0px;
  vertical-align: top;
}
