img.userpictures_avatar {
  box-shadow: 2px 2px 4px #444;
}

img.userpictures_avatar.timeline {
  margin-top: 0.2em;
  margin-right: 1em;
  margin-left: -5.8em;
  vertical-align: text-top;
}

img.userpictures_avatar.ticket-reporter {
  float: left;
  margin: 0 10px 10px 0px;
}

img.userpictures_avatar.ticket-comment {
  margin: 0 5px 5px 0;
}

img.userpictures_avatar.ticket-owner {
  margin-top: 0.2em;
  margin-right: 1em;
  vertical-align: middle;
}

img.userpictures_avatar.browser-lineitem,
img.userpictures_avatar.wiki-history-lineitem {
  margin: 0 5px 0 0;
}
img.userpictures_avatar.attachment-lineitem {
  margin: 0 5px 5px 0;
  vertical-align: middle;
}

img.userpictures_avatar.browser-changeset,
img.userpictures_avatar.ticket-comment-diff,
img.userpictures_avatar.wiki-diff {
  margin: 3px 10px 5px 0px;
  vertical-align: middle;
}

img.userpictures_avatar.browser-filesource,
img.userpictures_avatar.wiki-view {
  margin: 3px 10px 0px 0px;
  vertical-align: top;
}

img.userpictures_avatar.attachment-view {
  margin: 3px 10px 3px 0px;
  vertical-align: top;
}

img.userpictures_avatar.search-results {
  margin-right: 5px;
  margin-top: 3px;
  vertical-align: middle;
}

img.userpictures_avatar.report {
  margin-right: 5px;
}
